.hero-image {
	position: absolute;
	&-main {
		bottom: 0;
		right: 0px;
		width: 60%;
	}
	&-brawl {
		bottom: -38px;
   	 	right: 5%;
   		width: 40%;
	}
	&-albion {
		bottom: 0;
		right: 0;
		width: 35.6%;
	}
	&-lol {
		bottom: -70px;
    	right: 5%;
    	width: 45%;
	}
	&-hs {
		bottom: -15px;
		right: 0;
		width: 45%;
	}
	&-wow {
		bottom: -20px;
		right: 0;
		width: 38%;
	}
	&-steam {
		bottom: -15px;
		right: 8%;
		width: 42%;
	}
	&-other {
		bottom: 0;
		right: 5%;
		width: 45%;
	}
}
@media (min-width: 1600px) {
	.hero-image {
		&-main { width: 55%; }
		&-brawl { width: 36%; }
		&-albion { width: 32.6%; }
		&-lol {	width: 37.6%; }
		&-hs { width: 43.6%; }
		&-wow { width: 32.8%; }
		&-steam { width: 35.4%; }
		&-other { width: 38%; }
	}
}
.header {
	&-bg {
		background-size: cover;
		background-position: center center;
		&-main {
			background-image: url('main-header-bg.png');
		}
		&-brawl {
			background-image: url('brawl-header-bg.png');
		}
		&-albion {
			background-image: url('albion-header-bg.png');
		}
		&-lol {
			background-image: url('lol-header-bg.png');
		}
		&-hs {
			background-image: url('hs-header-bg.png');
		}
		&-wow {
			background-image: url('wow-header-bg.png');
		}
		&-steam {
			background-image: url('steam-header-bg.png');
		}
		&-other {
			background-image: url('other-header-bg.png');
		}
	}
	&-container {
		position: relative;
	}
	&-brand {
		padding-top: 35px;
		padding-bottom: 43px;
	}
	&-title {
		padding-right: 30px;
	}
	&-subtitle {
		width: 470px;
	}
	&-offer {
		padding-top: 60px;
		padding-bottom: 260px;
		width: 725px;
		&-subtitle {
			width: 64.69%;
		}
	}
}